body {
    font-size: 20pt;
    font-family: Ubuntu, "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    margin: 0px
}

.title {
    font-size: 28pt;
    margin: 5px 0px;
}

.subtitle {
    margin: 5px 0px;
    font-size: 16pt;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main-container {
    width: 100%;
    max-width: 480px;
    margin: 0px auto;
}

table.ranking {
    width: 100%;
    border: none
}

table.ranking th {
    text-align: left;
}

table.ranking tr.regio td:first-of-type,
table.ranking tr.regio td:last-of-type {
    text-align: center;
}

table.ranking tr.detail {
    display: none;
}

table.ranking tr.detail.header {
    font-weight: bold;
}

table.ranking tr.detail td {
    width: 15%;
    text-align: center;
}

table.ranking tr.detail td:first-of-type {
    text-align: left;
}

table.ranking tbody tr.detail {
    font-size: 16pt;
}

table.ranking tbody tr.regio {
    font-size: 24pt;
    font-weight: bold;
}










table.ranking .regio.blue {
    background-color: blue;
    color: white;
}

table.ranking .regio.red {
    background-color: red;
    color: white;
}

table.ranking .regio.yellow {
    background-color: yellow;
}

table.ranking .regio.green {
    background-color: green;
    color: white;
}

table.ranking .regio.orange {
    background-color: orange;
}

table.ranking .detail.blue {
    background-color: rgba(0, 0, 255, 0.1);
}

table.ranking .detail.red {
    background-color: rgba(255, 0, 0, 0.1);
}

table.ranking .detail.yellow {
    background-color: rgba(255, 255, 0, 0.1);
}

table.ranking .detail.green {
    background-color: rgba(0, 128, 0, 0.1);
}

table.ranking .detail.orange {
    background-color: rgba(255, 166, 0, 0.1);
}