<table class="ranking">
  <thead>
    <tr>
      <th>Rank</th>
      <th colspan="2">Naam</th>
      <th colspan="2">Punten</th>
    </tr>
    <tr>
      <th></th>
      <th>Man.</th>
      <th>Vrw.</th>
      <th>Est.</th>
      <th>Tot.</th>
    </tr>
  </thead>
  <tbody>
    {% for naam, regio in ranking.items() %}
    <tr class="colored {{regio.color}}">
      <td>{{regio.rank}}</td>
      <td colspan="2">{{naam}}</td>
      <td colspan="2">{{regio.punten}}</td>
    </tr>
    {% for d in regio.details %}
    <tr class="detail {{regio.color}}">
      <td>{{d.naam}}</td>
      <td>{% if d.get('Mannen') is not none %}{{d.Mannen}}{% endif %}</td>
      <td>{% if d.get('Vrouwen') is not none %}{{d.Vrouwen}}{% endif %}</td>
      <td>{% if d.get('Estafette') is not none %}{{d.Estafette}}{% endif %}</td>
      <td>{% if d.get('Totaal') is not none %}{{d.Totaal}}{% endif %}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
<i class="update">Laatste update: {{time}}</i>