<table class="ranking">
  <thead>
    <tr>
      <th colspan="3">Rank</th>
      <th colspan="3">Naam</th>
      <th colspan="3">Punten</th>
    </tr>
  </thead>
  <tbody>
    {% for naam, regio in ranking.items() %}
    <tr class="colored {{regio.color}}">
      <td colspan="3">{{regio.rank}}</td>
      <td colspan="3">{{naam}}</td>
      <td colspan="3">{{regio.punten}}</td>
    </tr>
    {% for d in regio.details %}
    <tr class="detail {{regio.color}}">
      <td>{{d.naam}}</td>
      {% if d.get('Mannen') is not none %}
      <td>M: </td>
      <td>{{d.Mannen}}</td>
      {% else %}
      <td></td>
      <td></td>
      {% endif %}
      {% if d.get('Vrouwen') is not none %}
      <td>V: </td>
      <td>{{d.Vrouwen}}</td>
      {% else %}
      <td></td>
      <td></td>
      {% endif %}
      {% if d.get('Estafette') is not none %}
      <td>Est.: </td>
      <td>{{d.Estafette}}</td>
      {% else %}
      <td></td>
      <td></td>
      {% endif %}
      {% if d.get('Totaal') is not none %}
      <td>Tot.: </td>
      <td>{{d.Totaal}}</td>
      {% else %}
      <td></td>
      <td></td>
      {% endif %}
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
<i class="update">Laatst geupdate op {{time}}</i>