<table class="ranking">
  <thead>
    <tr>
      <th>Plek</th>
      <th colspan="3">Regio</th>
      <th colspan="2">Punten</th>
    </tr>
  </thead>
  <tbody>
    {% for naam, regio in ranking.items() %}
    <tr class="regio {{regio.color}}" onclick=toggleRows('{{regio.color}}')>
      <td>{{regio.rank}}</td>
      <td colspan="3">{{naam}}</td>
      <td colspan="2">{{regio.punten}}</td>
    </tr>
    <tr class="detail header {{regio.color}}">
      <td colspan="2"></td>
      <td>Mannen</td>
      <td>Vrouwen</td>
      <td>Estafette</td>
      <td>Totaal</td>
    </tr>
    {% for d in regio.details %}
    <tr class="detail {{regio.color}}">
      <td colspan="2">{{d.naam}}</td>
      <td>{% if d.get('Mannen') is not none %}{{d.Mannen}}{% endif %}</td>
      <td>{% if d.get('Vrouwen') is not none %}{{d.Vrouwen}}{% endif %}</td>
      <td>{% if d.get('Estafette') is not none %}{{d.Estafette}}{% endif %}</td>
      <td>{% if d.get('Totaal') is not none %}{{d.Totaal}}{% endif %}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
<i class="update">Laatste update: {{time}}</i>